{
	"branches": ["master"],
	"plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/github",
        "@semantic-release/git",
        "@semantic-release/changelog",
        ["@semantic-release/exec", {
              "prepareCmd" : "echo 'export HAS_NEW_VERSION=true && export NEW_VERSION=${nextRelease.version} && cicd/ci/build.sh",
              "publishCmd" : "echo 'export PULL_REQUEST=false && cicd/ci/build.sh'"
              }]
      ]
}