<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<servers>
		<server>
			<id>sonatype</id>
			<username>${sonatype.user}</username>
			<password>${sonatype.password}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>ci-properties</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<sonar.projectKey>${project.groupId}:${project.artifactId}</sonar.projectKey>
				<sonar.organization>${sonarOrganization}</sonar.organization>
				<sonar.host.url>${sonarHost}</sonar.host.url>
				<sonar.login>${sonarLogin}</sonar.login>
				<sonar.branch.name>${sonarBranch}</sonar.branch.name>
				<sonar.branch.target>${sonarBranch}</sonar.branch.target>
				<sonar-quality-gate.branch>${sonarBranch}</sonar-quality-gate.branch>
				<sonatype.password>${sonatypePassword}</sonatype.password>
				<sonatype.user>${sonatypeUser}</sonatype.user>
			</properties>
		</profile>
	</profiles>
</settings>